@use '@kununu/ui/theme/scss/variables/colors';
@use '@kununu/ui/theme/scss/variables/spacings';
@use '@kununu/ui/theme/scss/variables/shadows';

.headerWrapper {
  width: 100%;
  margin-right: calc(-1 * spacings.$kun-spacing-4xl);
  margin-left: calc(-1 * spacings.$kun-spacing-4xl);
  padding: 0 spacings.$kun-spacing-4xl spacings.$kun-spacing-m;
  background: colors.$kun-color-base-white-100;
  box-shadow: 0 2px 4px 0 rgba(2, 2, 7, 0.1);
}

.surveyCardHeader {
  display: flex;
  flex-direction: column;
  gap: spacings.$kun-spacing-2xs;
  width: 100%;
}

.headerContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  flex: 1;
  margin: 0;
  padding: 0 spacings.$kun-spacing-xs;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Sharp Grotesk Medium', sans-serif;
  line-height: 21px;
  color: colors.$kun-color-text-link;
  letter-spacing: 0.2px;
  text-align: center;
}

.backButton {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 32px;
  min-height: 32px;
  padding: spacings.$kun-spacing-3xs;
  color: colors.$kun-color-text-primary;
  border: none;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;

  &:hover {
    background: colors.$kun-color-bg-medium;
  }
}

.stepCounter {
  position: absolute;
  right: 0;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Sharp Grotesk Medium', sans-serif;
  line-height: 21px;
  color: colors.$kun-color-text-inactive;
  letter-spacing: 0.2px;
}
